Laboratorium 4 Jakub Bilski 405864

In [1]:
import pandas as pd

tb = pd.read_csv("../OrginalData/tb.csv")

tb.drop(columns=['new_sp', 'new_sp_m04', 'new_sp_m514', 'new_sp_f04', 'new_sp_f514'], inplace=True)
tb.rename(columns={'new_sp_m014': 'm|0-14', 'new_sp_m1524': 'm|15-24', 'new_sp_m2534': 'm|25-34', 'new_sp_m3544': 'm|35-44', 'new_sp_m4554': 'm|45-54', 'new_sp_m5564': 'm|55-64', 'new_sp_m65': 'm|65', 'new_sp_mu': 'm|unknown', 
'new_sp_f014': 'f|0-14', 'new_sp_f1524': 'f|15-24', 'new_sp_f2534': 'f|25-34', 'new_sp_f3544': 'f|35-44', 'new_sp_f4554': 'f|45-54', 'new_sp_f5564': 'f|55-64', 'new_sp_f65': 'f|65', 'new_sp_fu': 'f|unknown'}, inplace=True)

lst = [i for i in tb.columns.to_list()[2:]]
tb = pd.melt(tb, id_vars=['iso2', 'year'], value_vars=lst, var_name='SA', value_name='cases')
tb.dropna(inplace=True)
tb.sort_values(['iso2', 'year'], inplace=True)
tb[['sex', 'age']] = tb['SA'].str.split('|', expand=True)
tb.drop(columns=['SA'], inplace=True)

tb.rename(columns={'iso2' : 'country'}, inplace=True)
tb.to_csv("../Analysis Data/tb.csv")
print(tb)

      country  year   cases sex      age
6          AD  1996     0.0   m     0-14
5775       AD  1996     0.0   m    15-24
11544      AD  1996     0.0   m    25-34
17313      AD  1996     4.0   m    35-44
23082      AD  1996     1.0   m    45-54
...       ...   ...     ...  ..      ...
69227      ZW  2008  2890.0   f    35-44
74996      ZW  2008   467.0   f    45-54
80765      ZW  2008   174.0   f    55-64
86534      ZW  2008   105.0   f       65
92303      ZW  2008     0.0   f  unknown

[33962 rows x 5 columns]